* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-size: 12px;

  .logo {
    img {
      width: 60%;
    }
  }
}

main {
  .main-top {
    height: 150px;
  }

  .main-bottom {
    background-color: #3880F1;
    height: 150px;

    .col {
      height: 35%;
    }
  }
}

footer {
  .footer-top {
    height: 350px;
    background-image: url(/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .row {
      img {
        width: 30%;
        top: -26%;
        left: 54%;
      }
    }
  }

  .footer-bottom {
    height: 80px;
    background-color: #303030;
  }
}