* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  font-size: 12px;

  .logo {
    img {
      width: 60%;
    }
  }
}

main {
  .main-top {
    height: 150px;
  }
}

.banner {
  background-color: #3880F1;
  height: 150px;

  .col {
    height: 35%;
  }
}

footer {
  .footer-top {
    height: 350px;
    background-image: url(/img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .row {
      width: 35%;

      .col {
        max-width: 33%;
        height: fit-content;
        flex-shrink: 1;
        flex-basis: 33%;

        h5 {
          font-size: 15px;
        }

        a {
          color: #939392;
          font-size: 12px;
        }
      }

      .col-small {
        top: 70%;
      }

      img {
        width: 30%;
        top: -26%;
        left: 54%;
      }

    }
  }

  .footer-bottom {
    height: 80px;
    background-color: #303030;

    button {
      height: fit-content;
      border-color: #3984FA;
    }

    span {
      color: #3E82F5;
    }
  }
}